/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

div.select-answer {
    margin-top: 10px;
}

.question-image img {
    max-height: 300px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.boyarskiy-face-result {
    border-radius: 30px;
    height: 300px;
}
.scale {
    transition: 1s; /* Время эффекта */
}

.scale:hover {
  transform: scale(1.5); /* Увеличиваем масштаб */
}

.tests-list {
    margin-top: 60px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.tests-list li {
    border: 2px solid red;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 50px;
}

.tests-list li:hover {
    background-color: lightcoral;
}

.tests-list a {
    padding: 10px;
}

.submit-test-button {
    margin-top: 20px;
}